:root {
    color-scheme: dark;
    background-color: #1c1b22;
}

html.dark {
    color-scheme: dark;
    background-color: #1c1b22;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #1c1b22;
}

#form {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#form fieldset {
    border: none;
    padding: 0;
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form>fieldset>* {
    width: 100%;
    margin-bottom: 15px;
}

#form>fieldset>a {
    width: 100%;
    margin-bottom: 7px;
}

#form>fieldset>div.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 7px;
}

#form>fieldset>div.checkbox>input {
    cursor: pointer;
}

#form>fieldset>div.checkbox>input.transitions {
    transition: all 0.25s linear;
}


#form>fieldset>button {
    background-color: transparent;
    border: 1px solid rgb(70, 70, 70);

    cursor: pointer;
}

#form>fieldset>button:hover {
    background-color: transparent;
    border: 1.5px solid rgb(100, 100, 100);
}

#form>fieldset>button.transitions {
    transition: all 0.05s linear;
}